<nb-card *ngIf="mode==''">
  <nb-card-header>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-hero-success" style="margin: 4px; " (click)="add()">افزودن خرابی و درخواست</button>
      </div>
      <div class="col-md-4" style="text-align: center;">لیست درخواست ها</div>
      <div class="col-md-4">
        <button class="btn btn-hero-success" style="margin: 4px; " (click)="goToAllocate()">اختصاص کارشناس</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body style="direction: rtl!important;">
    <div class="row">
      <div class="col col-md-4"></div>
      <div class="col col-md-4">
        <select style="width: 100%;padding: 0px" dir="rtl" class="form-control js-example-basic-single itemSelect">
          <option value="main" disabled="disabled">لطفا کالای مورد نظر را انتخاب کنید
          </option>
          <option *ngFor="let item of itemList" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
      <div class="col col-md-4"></div>
    </div>

    <div class="row" *ngFor="let item of ticketList;let i=index" style="width: 100%!important;">
      <div class="col-md-12">
        <nb-card class="haver">
          <nb-card-body>
            <div class="row">
              <!--<div class="col-md-12">-->
              <div class="col-md-1" (click)="goToChat(item.id)" style="cursor: pointer">
                <img *ngIf="item.item.image" src="{{myConfig.getUrl()+item.item.image.imageData}}" style="width: 60px; height: 60px; border-radius: 50%">
              </div>
              <div class="col-md-3 text-center" (click)="goToChat(item.id)" style="cursor: pointer">
                <label>{{item.item.name}}</label>
                <br>
                <label style="font-size: 10px">{{item.title}}</label>
              </div>
              <div class="col-md-4 text-center" (click)="goToChat(item.id)" style="cursor: pointer">
                {{item.description}}
              </div>
              <div class="col-md-2 text-center" (click)="goToChat(item.id)" style="cursor: pointer">
                {{item.item.priority}}
              </div>
              <div class="col-md-1" style="margin-top:20px!important;">
                <a (click)="editTicket(item.id)" style="cursor: pointer;color: green;">
                  <i class="nb-edit" style="font-size: 24px"></i>
                </a>
              </div>
              <div class="col-md-1" style="margin-top: 20px!important;">
                <a class="btnRemove" (click)="deleteTicket(item.id,i)" style="cursor: pointer;color: red">
                  <i class="nb-trash" style="font-size: 24px"></i>
                </a>
              </div>
              <!--</div>-->
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>

  </nb-card-footer>
</nb-card>
<nb-card *ngIf="(mode=='add') || (mode=='edit')">
  <nb-card-header>
    <div class="row" *ngIf="mode=='add'">

      <div class="col-md-4">
        <button class="btn btn-hero-danger" style="margin: 4px;" (click)="cancel()">
          انصراف
        </button>
      </div>
      <div class="col-md-4" style="text-align: center;">افزودن خرابی و درخواست</div>
      <div class="col-md-4 pull-left">

      </div>
    </div>

    <div class="row" *ngIf="mode=='edit'">
      <div class="col-md-4">
        <button class="btn btn-hero-danger" style="margin: 4px;" (click)="cancel()">
          انصراف
        </button>
      </div>
      <div class="col-md-4" style="text-align: center;">ویرایش خرابی و درخواست</div>
      <div class="col-md-4 pull-left">

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="mode=='add'">
      <form [formGroup]="addForm">
        <div class="row">
          <div class="col-md-6 text-center">
            <label class="control-label">انتخاب کالا</label>
            <select class="form-control" [(ngModel)]="ticket.item.id" name="itemAdd" formControlName="itemAdd" style="width: 100%;padding: 0px"
              dir="rtl" class="js-example-basic-single itemAdd">

              <option value="main" disabled="disabled">لطفا کالا مورد نظر را انتخاب کنید
              </option>
              <option *ngFor="let item of itemList" [value]="item.id">{{item.name}}</option>
            </select>
            <p style="color: red" *ngIf="!addForm.controls['itemAdd'].valid && (addForm.controls['itemAdd'].touched ||saveButton)">
              انتخاب کردن کالا الزامی است
            </p>
          </div>
          <div class="col-md-6 text-center">
            <label class="control-label">عنوان</label>
            <div class="input-group  input-group-sm form-inline">
              <input type="text" placeholder="عنوان" class="form-control" name="titleAdd" formControlName="titleAdd" [(ngModel)]="ticket.title">
            </div>
            <p style="color: red;" *ngIf="!addForm.controls['titleAdd'].valid && (addForm.controls['titleAdd'].touched ||saveButton)">
              وارد کردن عنوان درخواست الزامی است
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <label class="control-label">توضیحات</label>
            <div class="input-group  input-group-sm form-inline">
              <textarea type="text" placeholder="توضیحات" class="form-control" name="descAdd" formControlName="descAdd" [(ngModel)]="ticket.description">

              </textarea>
            </div>
            <p style="color: red;" *ngIf="!addForm.controls['descAdd'].valid && (addForm.controls['descAdd'].touched ||saveButton)">
              وارد کردن توضیحات درخواست الزامی است
            </p>
          </div>

        </div>


      </form>
    </div>
    <div *ngIf="mode=='edit'">
      <form [formGroup]="editForm">
        <div class="row">
          <div class="col-md-6 text-center">
            <label class="control-label">انتخاب کالا</label>
            <select class="form-control" [(ngModel)]="ticketEdit.item.id" name="itemEdit" formControlName="itemEdit" style="width: 100%;padding: 0px"
              dir="rtl" class="js-example-basic-single itemEdit">

              <option value="main" disabled="disabled">لطفا کالا مورد نظر را انتخاب کنید
              </option>
              <option *ngFor="let item of itemList" [value]="item.id">{{item.name}}</option>
            </select>
            <p style="color: red" *ngIf="!editForm.controls['itemEdit'].valid && (editForm.controls['itemEdit'].touched ||saveButton2)">
              انتخاب کردن کالا الزامی است
            </p>
          </div>
          <div class="col-md-6 text-center">
            <label class="control-label">عنوان</label>
            <div class="input-group  input-group-sm form-inline">
              <input type="text" placeholder="عنوان" class="form-control" name="titleEdit" formControlName="titleEdit" [(ngModel)]="ticketEdit.title">
            </div>
            <p style="color: red;" *ngIf="!addForm.controls['titleEdit'].valid && (addForm.controls['titleEdit'].touched ||saveButton2)">
              وارد کردن عنوان درخواست الزامی است
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <label class="control-label">توضیحات</label>
            <div class="input-group  input-group-sm form-inline">
              <textarea type="text" placeholder="توضیحات" class="form-control" name="descEdit" formControlName="descEdit" [(ngModel)]="ticketEdit.description">

              </textarea>
            </div>
            <p style="color: red;" *ngIf="!addForm.controls['descEdit'].valid && (addForm.controls['descEdit'].touched ||saveButton2)">
              وارد کردن توضیحات درخواست الزامی است
            </p>
          </div>

        </div>


      </form>
    </div>


  </nb-card-body>
  <nb-card-footer>
    <div style="text-align: center!important;" *ngIf="mode=='add'">
      <button type="submit" class="btn btn-primary" (click)="addTicket()">ثبت</button>
    </div>
    <div style="text-align: center!important;" *ngIf="mode=='edit'">
      <button type="submit" class="btn btn-primary" (click)="updateTicket()">ویرایش</button>
    </div>
  </nb-card-footer>
</nb-card>