<nb-card *ngIf="mode==''">
  <nb-card-header>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-hero-success" style="margin: 4px;" (click)="add()">افزودن واحد اندازه گیری</button>
      </div>
      <div class="col-md-4" style="text-align: center;">لیست واحد های اندازه گیری</div>
      <div class="col-md-4"></div>
    </div>
  </nb-card-header>
  <nb-card-body style="direction: rtl!important;">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center" style="width: 4%">ردیف</th>
          <th class="text-center" style="width: 44%">نام واحد</th>
          <th class="text-center" style="width: 44%">نام یکا</th>
          <th class="text-center" style="width: 4%">ویرایش</th>
          <th class="text-center" style="width: 4%">حذف</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of measurementList;let i =index">
          <td class="text-center">{{i+1}}</td>
          <td class="text-center">{{item.title}}</td>
          <td class="text-center">{{item.unit}}</td>
          <td class="text-center">
            <a (click)="editMeasurement(item.id)" style="cursor: pointer;color: green">
              <i class="nb-edit"></i>
            </a>
          </td>
          <td class="text-center">
            <a class="btnRemove" (click)="deleteMeasurement(item.id,i)" style="cursor: pointer;color: red">
              <i class="nb-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer>

  </nb-card-footer>
</nb-card>
<nb-card *ngIf="(mode=='add') || (mode=='edit')">
  <nb-card-header>
    <div class="row" *ngIf="mode=='add'">
      <div class="col-md-4">
        <!--<button class="btn btn-hero-danger" style="margin: 4px;" (click)="cancel()">-->
          <!--انصراف-->
        <!--</button>-->
      </div>
      <!--<div class="col-md-4" style="text-align: center;">اضافه کردن واحد اندازه گیری</div>-->
      <!--<div class="col-md-4 pull-left"></div>-->
      <!--<div class="col-md-4"><a class="pull-right" routerLink="/management/userManagement/listRole">لیست نقش</a></div>-->
    </div>

    <div class="row" *ngIf="mode=='edit'">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="text-align: center;">ویرایش کردن واحد اندازه گیری</div>
      <div class="col-md-4 pull-left">
        <button class="btn btn-hero-danger" style="margin: 4px;width: 10vw" (click)="cancel()">
          انصراف
        </button>
      </div>
      <!--<div class="col-md-4"><a class="pull-right" routerLink="/management/userManagement/listRole">لیست نقش</a></div>-->
    </div>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="mode=='add'">
      <form [formGroup]="addForm">
        <div class="row">
          <div class="col-md-5 text-center">
            <label class="control-label">نام واحد </label>
            <div class="input-group  input-group-sm">
              <input type="text" placeholder="نام واحد" name="measureName" formControlName="measureName" class="form-control" [(ngModel)]="measurement.name">

            </div>
            <p style="color: red" *ngIf="!addForm.controls['measureName'].valid && (addForm.controls['measureName'].touched ||saveButton)">
              وارد کردن نام واحد الزامی است
            </p>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5 text-center">
            <label class="control-label">یکای واحد </label>
            <div class="input-group  input-group-sm">
              <input type="text" placeholder="یکای واحد" name="measureUnit" formControlName="measureUnit" class="form-control" [(ngModel)]="measurement.unit">

            </div>
            <p style="color: red" *ngIf="!addForm.controls['measureUnit'].valid && (addForm.controls['measureUnit'].touched ||saveButton)">
              وارد کردن یکا الزامی است
            </p>
          </div>
        </div>


      </form>
    </div>
    <div *ngIf="mode=='edit'">
      <form [formGroup]="editForm">
        <div class="row">
          <div class="col-md-5 text-center">
            <label class="control-label">نام واحد </label>
            <div class="input-group  input-group-sm">
              <input type="text" placeholder="نام واحد" name="measureNameEdit" formControlName="measureNameEdit" class="form-control" [(ngModel)]="measurementEdit.name">

            </div>
            <p style="color: red" *ngIf="!editForm.controls['measureNameEdit'].valid && (editForm.controls['measureNameEdit'].touched ||saveButton)">
              وارد کردن نام واحد الزامی است
            </p>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5 text-center">
            <label class="control-label">یکای واحد</label>
            <div class="input-group input-group-sm">
              <input type="text" placeholder="یکای واحد" name="measureUnitEdit" formControlName="measureUnitEdit" class="form-control"
                [(ngModel)]="measurementEdit.unit">

            </div>
            <p style="color: red" *ngIf="!editForm.controls['measureUnitEdit'].valid && (editForm.controls['measureUnitEdit'].touched ||saveButton)">
              وارد کردن یکا الزامی است
            </p>
          </div>
        </div>

      </form>
    </div>


  </nb-card-body>
  <nb-card-footer>
    <div style="text-align: center!important;" *ngIf="mode=='add'">
      <button type="submit" class="btn btn-primary" (click)="addMeasurement()">ثبت</button>
    </div>
    <div style="text-align: center!important;" *ngIf="mode=='edit'">
      <button type="submit" class="btn btn-primary" (click)="updateMeasurement()">ویرایش</button>
    </div>
  </nb-card-footer>
</nb-card>
